#container{
    width: 30%;
    height: 350px;
    background-color: darkcyan;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

#titulo{
    padding: 10pt;
    color: tomato;
    text-align: center;
}